#bootstrap-overrides {
	background-color: #ddd;
}

#bootstrap-overrides .btn {
	margin: 0 15px 15px 15px;
}

#form-div {
	width: 50%;
}

#main {
	margin-top: 20px;
} 

.item {
	display: block;
	float: left;
	margin: 0px 20px 10px 0;
}